@model int
    <div class="col-12 text-center">
        <h1 class="text-primary text-center">Order Submitted Successfully</h1><br />
        <img src="~/Images/orderConfirme.jpg" style="width:50%" />
    </div>
    <h1>
        Your Order is success, Order Id : @Model
        And Payment Id is :@ViewBag.success
    </h1>